<launch>
  <arg name="gui" default="true"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find delta_robot)/urdf/delta.urdf'" />
  <node name="joint_publisher" pkg="delta_robot" type="IK_Solver.py" output="screen"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg gui)"/>
  </node>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find delta_robot)/launch/rviz_launch_config.rviz" if="$(arg gui)"/>
  
</launch>
